<ng-container *ngIf="utenti">
  <div class="container">
    <div class="row justify-content-center">
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"><h2>Lista Utenti</h2></th>
              <th scope="col"></th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
            <tbody>
              <tr *ngFor="let u of utenti.content">
                <td>{{ u.id }}</td>
                <td>{{u.username }}</td>
                <td>{{ u.email }}</td>
              </tr>  
            </tbody>
          </table>
    </div>
      <div class="row justify-content-center">
          <ngb-pagination (pageChange)="pageChange($event)" [collectionSize]="utenti.totalElements / 2" [maxSize]="utenti.size" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
      </div>
  </div>
</ng-container>
