<div id="nav">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a routerLink="" ngbNavLink>Home</a>
    </li>
    <li ngbNavItem>
      <a routerLink="login" ngbNavLink>Login</a>
    </li>
    <li ngbNavItem>
      <a routerLink="signup" ngbNavLink>Signup</a>
    </li>
    <li ngbNavItem>
      <a routerLink="utenti" ngbNavLink>Utenti</a>
    </li>
    <li ngbNavItem>
      <a routerLink="clienti" ngbNavLink>Clienti</a>
    </li>
    <li ngbNavItem>
      <a routerLink="fatture" ngbNavLink>Fatture</a>
    </li>
  </ul>
</div>
<div><router-outlet></router-outlet></div>