
    <div class="container text-center" id="box">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1>
                    Servizio di gestione fatture 
                    <span class="text-success">C.</span>
                    <span class="text-primary">R.</span>
                    <span class="text-warning">U.</span>
                    <span class="text-danger">D.</span>
                </h1>
                <hr>
            </div>

            <div class="col-12 h4">
                <p>
                    Benvenuti nel mio sito. In questa applicazione sarà possibile accedere ad una repository 
                    per <span class="text-success">creare</span>,<span class="text-primary"> visualizzare</span>, 
                    <span class="text-warning">modificare</span> ed <span class="text-danger">eliminare</span> 
                    dati di fatture e clienti.
                </p>
            </div>

            <div class="col-12 h4 mt-3">
                <p>
                    Queste operazioni vengono gestite nelle sezioni <i class="text-primary">Clienti</i> e <i class="text-primary">
                    Fatture</i>.  Per accedervi bisogna prima effettuare l'accesso.
                </p>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div>
                <h3>Ti sei già registrato?</h3>
                <p routerLink="/login" class="h5 text-primary link">Effettua l'accesso</p>
            </div>
            <div class="col-6">
                <h3>Sei un utente nuovo?</h3>
                <p routerLink="/signup" class="h5 text-success link">Registrati in pochi secondi</p>
            </div>
        </div>
    </div>

